   .SUBSCRIBE-button{
    background-color: rgb(204, 0, 0);
    color:white;
    border:none;
    height:30px;
    width:103px;
    border-radius:5px;
    cursor: pointer;
    margin-right:10px;
    transition: background-color 0.5s;
    transition:0.5s;
  

    }
    .SUBSCRIBE-button:hover{
        background-color: rgb(132, 132, 132); 
    }
    .SUBSCRIBE-button:active{ 
       opacity: 0.6; 
       transform:scale(1.2)
    }
  

    .JOIN-button{
        background-color:white;
        border-color: rgb(0, 76, 255); 
        color:rgb(0, 76, 255);
        padding: 6px 16px;
        cursor: pointer;
        border-radius:5px;
        border-style:solid;
        border-width:1px;
        margin-bottom: 300px;
    }
    .JOIN-button:hover{
        background-color:  rgb(0, 76, 255);
        color:white ;
        transition: background-color 0.5s;  
    }
    .JOIN-button:active{
        opacity: 0.7;
    }

    .Tweet-button{
        background-color: rgb(2, 158, 255);
        color: white;
        border-radius: 15px;
        cursor: pointer;
        border-style:solid;
        padding: 8px 16px;
        border-width:2px;
        border:none;
        margin-left:9px;
        font-weight:bold;
        font-size:15px;
        transition: box-shadow 0.5s;
        transition: background-color 0.5s;
        transition: color 0.5s;
        transition: opacity 0.5s;
       
      
    }
    .Tweet-button:hover{
        color:rgb(2, 158, 255);
        background-color: orange ;
         box-shadow:5px 5px 5px  rgb(211, 211, 211)
    }
    .Tweet-button:active{
        opacity : 0.6
    }