    .html-css{
        font-family: verdana;
        font-size: large;
        font-weight:bold;
        margin-bottom: 5px;
        
    }
    .am-beginner{
        font-family: verdana;
        font-size: medium;
        font-weight: bold;
        color:grey;
        margin-top: 3px;

    }
    .course-p{
        font-family: verdana;
        font-size: medium;
        width: 280px;
        margin-bottom: 20px;
    }
    .Get-started{
        padding:15px 10px;
        font-family: verdana;
        background-color: rgb(1, 176, 1);
        border:none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 8px;
        color : white;
    }
    .Get-started:hover{
        transform:scale(1.2);
        transition: transform 0.5s;

    }